<footer>
  <span class="muted">built with </span><a href="http://middlemanapp.com" class="muted" target="_blank">Middleman </a> <span class="muted">using </span><a href="http://github.com/muan/scribble" class="muted" target="_blank">Scribble theme</a>
  <br />
  <br />
  <img src="/images/scribble2.png" alt="scribble" /> 
</footer>